/* 색상 변수 */
:root {
    font-family: 'Montserrat', sans-serif;
	--main-bg-color: #51318b;
	--highlight-color: #d9501a;
	--lightpurple-color: #a887e1;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

/* 초기화 */
* {
	box-sizing: border-box;
}

body, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

/* 기본 글꼴 사이즈 */
html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
}

/* 메인 코드 */
body {
	padding: 100px 0;
}

.container {
	width: 1080px;
	margin: 0 auto;
}