/* 색상 변수 */
:root {
    font-family: 'Montserrat', sans-serif;
	--main-bg-color: rgb(100, 48, 145);
	--highlight-color: rgb(251, 64, 6);
	--lightpurple-color: #a887e1;
	/*
	font-weight: 500;
	font-weight: 700;
	*/
}

/* 초기화 */
* {
	box-sizing: border-box;
}

body, h1, h2, p, ul, li, figure {
	margin: 0;
	padding: 0;
	font-size: inherit;
}

li {
	list-style-type: none;
}

/* 기본 글꼴 사이즈 */
html {
	font-size: 10px;
}

body {
	font-size: 1.4rem;
}

/* 메인 코드 */
body {
	background-color: var(--main-bg-color);
	padding: 100px 0;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

/* header */
header {
	display: flex;
}

h1 {
	font-size: 4rem;
	flex-basis: 26%;
	flex-shrink: 0;
	color: white;
}

.highlight {
	position: relative;
	display: inline-block;
}

.highlight:after {
	position: absolute;
	bottom: 0;
	content:"";
	display: block;
	background-color: var(--highlight-color);
	height: 24.25px;
	width: 100%;
	z-index: -1;
}

.header-txt {
	flex-grow: 1;
	display: flex;
	color: var(--lightpurple-color);
	align-items: center;
	gap: 30px;
}

.header-txt::before {
	content:"";
	display: block;
	width: 100px;
	border: 1px solid var(--lightpurple-color);
}

.txt-in-header {
	flex-basis: 58%;
	line-height: 1.5;
}

main {
	margin: 100px 0;
}

.wrapper {
	display: flex;
}

figure {
	flex-basis: 26%;
	flex-shrink: 0;
	position: relative;
}

img {
	vertical-align: top;
	width: 100%;
}

figcaption {
	font-size: 3rem;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ul-section {
	background-color: white;
	flex-grow: 1;
	padding: 24px;
}

h2 {
	font-size: 1.8rem;
	color: var(--main-bg-color);
}

ul {
	margin-top: 32px;
}

li {
	display: flex;
	align-items: center;
	margin-top: 1em;
	gap: 0.8em;
}

li::before {
	content:"";
	display: block;
	width: 10px;
	height: 10px;
	background-color: var(--lightpurple-color);
	border-radius: 50%;
}